
body{

background-color: var(--second-color);


}

.DarkTm{
--primary-color: #0edf2fc;
--second-color: #212121; 
} */

 :root{

--primary-color: #0edf2fc;
--second-color: #f2ebeb;

}
i{

font-size: 100px;
cursor: pointer;

}
.haut{
display: flex;
align-items: first baseline;
background-color:rgb(97, 222, 231);
gap: 100px;
height: 80px;
box-shadow: rgb(69, 59, 3);
box-shadow: #0c50e2;
border-radius: 5%;
border: #212121;

}
.haut moon{

margin: auto;
align-items: end;
float: right;

}
.haut h2{

background-color: var(--primary-color);
 height: 60px;;



}
.Card{

    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
    margin-top: 10px;
}

.Card input{
    border-color: rgb(14, 14, 14);
    width:300px ;
    border-radius: 30px;
    background-color: rgb(224, 187, 175);
    height: 20px;
}
.climat{

height: 10px;
width: 170px;
gap: 100px;
margin-top: 30px;
margin-bottom:30px ;
flex-direction: column;
gap: 100px;
display: flex;
margin-left: 70px; 




} 

.img1{

 align-items: end;
 float: right;


}
.temp{
    color: #0c50e2;
}
.city{
  color: #0c50e2;
}
.ditals{
    
    color: #0c50e2;
}